extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/user-view.css")

block content
    -if(typeof course != 'undefined'){
        h1.title.center لیست کاربران دوره #{course.title}
        .search 
            form(action="/dashboard/course-list" method="POST" id="form1") 
                input.hidden(type="text" name="courseID" value="#{course._id}")
                input(type="text" name="search" id="search" placeholder="جست و جو..." value="#{typeof search == 'undefined' ? '' : search}")
                button(type="submit" form="form1")
                    i.fa.fa-search
            .preview#preview
    -}else{
        h1.title.center لیست همه کاربران
        .search 
            form(action="/dashboard/users-view" method="POST" id="form1") 
                input(type="text" name="search" id="search" placeholder="جست و جو..." value="#{typeof search == 'undefined' ? '' : search}")
                button(type="submit" form="form1")
                    i.fa.fa-search
            .preview#preview
    -}
    a.add-user-icon
        i.fa.fa-plus 
    
    .user-list 
        table 
            tr 
                th ردیف
                th نام و نام خانوادگی
                th شماره تلفن
                th کد ملی
                th تعداد دوره های ثبت نام شده
                th نوع حساب
            -for(var i=0; i<users.length; i++){
                tr(id="view-user#{i}")
                    td= i+1
                    td= users[i].fullname 
                        -if(isAnarestani(users[i].phone))
                            .green  (انارستانی)
                    td= users[i].phone
                    td= users[i].idNumber
                    td= users[i].course.length
                    td= users[i].role
            -}
        -if(typeof course != 'undefined'){
            a.add-user2 
                i.fa.fa-plus 
                | افزودن کاربر جدید به این دوره
        -}else{
            a.add-user 
                i.fa.fa-plus 
                | افزودن کاربر جدید
        -}
    -for(var i=0; i<users.length; i++){
        -if(userID == users[i]._id)
            script.
                $('.black-modal').show();
            .popup-area.user-view.visible(id="user-view-popup#{i}")
                include user-view-popup
        -else
            .popup-area.user-view.hidden(id="user-view-popup#{i}")
                include user-view-popup
    -}
    -if(typeof course != 'undefined'){
        .popup-area#add-user-popup2
            .popup
                i.fa.fa-times.close-popup
                h1.title.center افزودن کاربر جدید
                form(action="/dashboard/add-user-to-course" method="POST" autocomplete="off") 
                    input.hidden(type="text" name="courseID" value="#{course._id}")
                    .select-input-area
                        label(for="userID") نام کاربر: 
                        select(name="userID") 
                            -for(var i=0; i<usersForThisCourse.length; i++)
                                option(value="#{usersForThisCourse[i]._id}")= usersForThisCourse[i].fullname
                    button.submit(type="submit") ثبت نام
    -}     
                        
    .popup-area#add-user-popup
        .popup
            i.fa.fa-times.close-popup
            h1.title.center افزودن کاربر جدید
            form(action="/dashboard/admin-adduser" method="POST" autocomplete="off") 
                .part
                    .text-input-area
                        i.fa.fa-pencil
                        input.textinput(type="text" placeholder="نام" name="firstName")
                    .text-input-area
                        i.fa.fa-pencil
                        input.textinput(type="text" placeholder="نام خانوادگی" name="lastName")
                    .text-input-area
                        i.fa.fa-map-marker
                        input.textinput(type="text" placeholder="نشانی" name="address")
                    .text-input-area
                        i.fa.fa-phone
                        input.textinput(type="text" placeholder="شماره تماس (پدر یا مادر)" name="phone")
                    .text-input-area
                        i.fa.fa-book
                        input.textinput(type="text" placeholder="نام مدرسه" name="school")
                    .date-input-area
                        label(for="day") تاریخ تولد: 
                        input(type="Number" name="birthDay" placeholder="روز")
                        label(for="month") / 
                        input(type="Number" name="birthMonth" placeholder="ماه")
                        label(for="year") / 
                        input(type="Number" name="birthYear" placeholder="سال" value="1380")
                    .select-input-area
                        label(for="education") پایه تحصیلی: 
                        select(name="education") 
                            option(value="پیش دبستانی") پیش دبستانی
                            option(value="اول ابتدایی") اول ابتدایی
                            option(value="دوم ابتدایی") دوم ابتدایی
                            option(value="سوم ابتدایی") سوم ابتدایی
                            option(value="چهارم ابتدایی") چهارم ابتدایی
                            option(value="پنجم ابتدایی") پنجم ابتدایی
                            option(value="ششم ابتدایی") ششم ابتدایی
                            option(value="هفتم دوره اول دبیرستان") هفتم دوره اول دبیرستان
                            option(value="هشتم دوره اول دبیرستان") هشتم دوره اول دبیرستان
                            option(value="نهم دوره اول دبیرستان") نهم دوره اول دبیرستان
                            option(value="دهم دوره دوم دبیرستان") دهم دوره دوم دبیرستان
                            option(value="یازدهم دوره دوم دبیرستان") یازدهم دوره دوم دبیرستان
                            option(value="دوازدهم دوره دوم دبیرستان") دوازدهم دوره دوم دبیرستان
                            option(value="بزرگسال") بزرگسال
                            
                    .text-input-area
                        i.fa.fa-user
                        input.textinput(type="text" placeholder="کد ملی" name="idNumber" autocomplete="off")
                    .text-input-area
                        i.fa.fa-key
                        input.textinput(type="password" placeholder="رمز عبور" name="password" autocomplete="off")
                    .text-input-area
                        i.fa.fa-check
                        input.textinput(type="password" placeholder="تایید رمز عبور" name="configpassword" autocomplete="off")
                .part 
                    .course-checkbox-area 
                        -for(var i=0; i<courses.length; i++){
                            input(type="checkbox" name="courseList" value="#{courses[i]._id}")
                            label(for="#{courses[i]._id}") #{courses[i].title}
                                .gray-inline (#{courses[i].minAge} تا #{courses[i].maxAge})
                            br
                            
                        -}
                    button.submit(type="submit") ثبت نام
    script(src="/js/user-view.js") 