extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/user-view.css")

block content
    -if(course)
        h1.title.center لیست کاربران دوره #{course.title}
    -else
        h1.title.center لیست همه کاربران
    .user-list 
        table 
            tr 
                th ردیف
                th نام و نام خانوادگی
                th شماره تلفن
                th کد ملی
                th تعداد دوره های ثبت نام شده
                th نوع حساب
            -for(var i=0; i<users.length; i++){
                tr(id="view-user#{i}")
                    td= i+1
                    td= users[i].fullname
                    td= users[i].phone
                    td= users[i].idNumber
                    td= users[i].course.length
                    td= users[i].role
            -}
    -for(var i=0; i<users.length; i++){
        .popup-area(id="user-view-popup#{i}")
            .popup
                i.fa.fa-times.close-popup
                h1.title= users[i].fullname
                .part
                    .item 
                        i.fa.fa-phone
                        | تلفن: 
                        a.phone(href="tel:#{users[i].phone}")= users[i].phone
                    .item 
                        i.fa.fa-user
                        | کد ملی: 
                        .num= users[i].idNumber
                    .item 
                        i.fa.fa-map-marker
                        | نشانی: 
                        .num= users[i].address
                    .item 
                        i.fa.fa-book
                        | نام مدرسه: 
                        .num= users[i].school
                    .item 
                        i.fa.fa-sitemap
                        | آدرس آی پی: 
                        .num= users[i].ipAddress
                    .item 
                        i.fa.fa-book
                        | پایه تحصیلی: 
                        .num= users[i].education
                    -if(users[i].role == 'user')
                        a(href="/dashboard/make-admin?userID=#{users[i]._id}") ادمین کردن 
                    -else
                        a(href="/dashboard/make-user?userID=#{users[i]._id}") یوزر کردن 
                    a(href="/dashboard/remove-user?userID=#{users[i]._id}") حذف کاربر 

                .part
                    h1 دوره های ثبت نام شده (#{users[i].course.length}):
                    .user-course-list-view
                        -for(var j=0; j<users[i].course.length; j++){
                            -var course = users[i].course[j].course;
                            .course 
                                img(src="#{course.cover}", alt="cover")
                                .info 
                                    h1= course.title
                                    h2 مدرس: #{course.teacher}
                                    .labels 
                                        .label.blue= course.status
                                        -if(users[i].course[j].payed)
                                            .label.green پرداخت شده
                                        -else
                                            .label.red پرداخت نشده
                                        
                        -}
    -}
    script(src="/js/user-view.js") 