extends layout

block styles
    link(rel="stylesheet", href="/css/css-circular-prog-bar.css")
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    .message-area
        -if(login){
            .success-msg
                i.fa.fa-times.close-success-msg
                ul 
                    li به پنل کاربری خود خوش آمدید
        -}
        -if(false){
            .notif-msg
                i.fa.fa-times.close-notif-msg
                ul 
                    li شما n صورت حساب پرداخت نشده دارید. جهت پرداخت صورت حساب خود 
                        a(href="#") اینجا 
                        | را کلیک کنید.
        -}

    .graph-cards-area
        .card 
            .title تعداد دوره ها
            //- .number 100
            .progress-circle.p30
                span= courses.length
                .left-half-clipper
                    .first50-bar
                    .value-bar
        .card 
            .title تعداد شرکت کنندگان
            //- .number 200
            .progress-circle.over50.p85
                span 200
                .left-half-clipper
                    .first50-bar
                    .value-bar
        .card 
            .title تعداد دوره ها
            //- .number 100
            .progress-circle.over50.p85
                span 100
                .left-half-clipper
                    .first50-bar
                    .value-bar
        
    //- h1.title دوره های من
    //- .product-cards-area
    //-     .not-found شما هیچ دوره ای ثبت نام نکرده اید. برای ثبت نام 
    //-         a(href="#") اینجا 
    //-         | کلیک کنید.
    h1.title لیست دوره ها
    .product-cards-area 
        .card.add-course
            i.fa.fa-plus.plus
            .add-text افزودن دوره
        -for(var i=0; i<courses.length && i< 6; i++){
            .card(id="card#{i}") 
                .image 
                    img(src="#{courses[i].cover}")
                .title= courses[i].title
                .text= courses[i].description
                .price #{courses[i].price/10} تومان
        -}
    
    a.show-more(href="/courses") 
        i.fa.fa-chevron-left
        | مشاهده بیشتر ...

    include add-course
    
    include course-view
    script(src="/js/dashboard.js") 


