extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/payment.css")

block content
    h1.title.center صورت حساب ها
    .list 
        table 
            tr 
                //- th ردیف
                th کاربر
                th مبلغ صورت حساب
                th توضیحات
                th تاریخ پرداخت
                th کد پیگیری
                th وضعیت
            -for(var i=payments.length-1; i>=0; i--){
                tr(id="view-user#{i}")
                    //- td= i+1
                    td= payments[i].fullname
                    td= payments[i].amount
                    td
                        -for(var j=0; j<payments[i].courseList.length; j++)
                            .course #{payments[i].courseList[j].course.title} 
                    td= shamsi(payments[i].date)
                    td= payments[i].track_id
                    td 
                        -if(payments[i].payed)
                            .green پرداخت شده
                        -else
                            .red لغو شده
            -}
    