extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    h1.title لیست دوره ها
    .product-cards-area 
        .card.add-course
            i.fa.fa-plus.plus
            .add-text افزودن دوره
        -for(var i=0; i<courses.length; i++){
            .card(id="card#{i}") 
                .image 
                    img(src="#{courses[i].cover}")
                .title= courses[i].title
                .text= courses[i].description
                .price #{dot(courses[i].price/10)} تومان
        -}


    include course-view
    script(src="/js/dashboard.js") 
