extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/api.css")

block content
    h1.title سناریوها
    .add-senario2
        form(action="/dashboard/api-add-senario" method="POST") 
            input.hidden(type="number" name="senarioNum" value="#{workshop.length}")
            input.text(type="text" name="title" placeholder="عنوان سناریو...")
            input.submit2(type="submit" value="افزودن سناریو جدید")
    .api
        -for(var i=0; i<workshop.length; i++){
            .senario 
                h1
                    i.fa.fa-paperclip
                    | #{workshop[i].title}
                .num تعداد سوالات: #{workshop[i].data.length}
                .num زمان پاسخگویی: #{timeToString(workshop[i].time)}
                .actions
                    a.link.red(href="/dashboard/api-remove-senario?id=#{workshop[i]._id}") 
                        i.fa.fa-trash
                    a.link.blue(href="/dashboard/api-senario?id=#{workshop[i]._id}") 
                        i.fa.fa-eye 
                    a.link.blue(id='edit-senario-btn#{i}')
                        i.fa.fa-edit
                    
        -}
    -for(var i=0; i<workshop.length; i++){
        .popup-area(id="edit-senario#{i}")
            .popup
                i.fa.fa-times.close-popup
                h1.popup-title= workshop[i].title
                form.center(action="/dashboard/admin-edit-senario" method="POST") 
                    input.hidden(type="text" name="workshopID" value="#{workshop[i]._id}")
                    .part
                        .text-input 
                            i.fa.fa-pencil 
                            input(type="text" name="title" placeholder="عنوان دوره" value="#{workshop[i].title}" required)
                        label زمان پاسخ گویی 
                        .time-input 
                            input(type="number" name="second" placeholder="ثانیه")
                            | :
                            input(type="number" name="minute" placeholder="دقیقه")
                            | :
                            input(type="number" name="hour" placeholder="ساعت")
                        input.submit(type="submit" value="ثبت")
                            
    -}

    script(src="/js/api.js") 



