extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/api.css")

block content
    h1.title سناریوها
    .add-senario2
        form(action="/dashboard/api-add-senario" method="POST") 
            input.hidden(type="number" name="senarioNum" value="#{workshop.length}")
            input.text(type="text" name="title" placeholder="عنوان سناریو...")
            input.submit(type="submit" value="افزودن سناریو جدید")
    .api
        -for(var i=0; i<workshop.length; i++){
            .senario 
                h1
                    i.fa.fa-paperclip
                    | #{workshop[i].title}
                .num تعداد سوالات: #{workshop[i].data.length}
                .num زمان پاسخگویی: #{timeToString(workshop[i].time)}
                .actions
                    a.link.red(href="/dashboard/api-remove-senario?id=#{workshop[i]._id}") 
                        i.fa.fa-trash
                    a.link.blue(href="/dashboard/api-senario?id=#{workshop[i]._id}") 
                        i.fa.fa-eye 
        -}
    script(src="/js/api.js") 


