extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/edit-course.css")

block content
    -if(success_msg != ''){
        .message-area
            .success-msg
                i.fa.fa-times.close-success-msg
                ul 
                    li= success_msg
    -}
    h1.title ویرایش دوره
    .two-side-cont
        form(action="/dashboard/admin-edit-course" method="POST") 
            input.hidden(type="text" name="courseID" value="#{course._id}")
            .part
                .text-input
                    label(for="title") 
                        i.fa.fa-pencil
                        | عنوان دوره:
                    input(type="text" name="title" placeholder="عنوان دوره" value="#{course.title}" required)
                .text-input
                    label(for="undertitle") 
                        i.fa.fa-pencil 
                        | زیرعنوان:
                    input(type="text" name="undertitle" placeholder="زیر عنوان" value="#{course.undertitle}")
                textarea#txt-area(name="description" placeholder="توضیحات ..." required) #{course.description}
                .text-input 
                    label(for="teacher") 
                        i.fa.fa-user 
                        | مدرس:
                    input(type="text" name="teacher" placeholder="مدرس" value="#{course.teacher}" required)
                .text-input 
                    label(for="session") 
                        i.fa.fa-user 
                        | تعداد جلسات:
                    input(type="Number" name="session" placeholder="تعداد جلسات" value="#{course.session}" required)
                -if(course.usePanel)
                    input.check(type="checkbox" name="usePanel" id="usePanel" checked)
                -else
                    input.check(type="checkbox" name="usePanel" id="usePanel")
                label(for="usePanel") استفاده از پنل ویژه
                br
                -if(course.yearPayment){
                    .check-input
                        input.check(type="checkbox" name="yearPayment" id="yearPayment" checked)
                        label(for="yearPayment") پرداخت سالیانه
                        input.text#yearPaymentPrice(type="number" name="yearPrice" placeholder="هزینه سالیانه" value="#{course.yearPrice}")
                -}else{
                    .check-input
                        input.check(type="checkbox" name="yearPayment" id="yearPayment")
                        label(for="yearPayment") پرداخت سالیانه
                        input.text.hidden#yearPaymentPrice(type="number" name="yearPrice" placeholder="هزینه سالیانه")
                -}
                input.submit(type="submit" value="ثبت")
            .break-side 
            .part 
                .age-input
                    label(for="minAge") محدوده سنی از
                    input(type="Number" name="minAge" placeholder="سال" value="#{course.minAge}" required)
                    label(for="maxAge") تا
                    input(type="Number" name="maxAge" placeholder="سال" value="#{course.maxAge}" required)
                .date-input 
                    label(for="day") شروع دوره: 
                    input(type="Number" name="day" placeholder="روز" value="#{course.startDate.day}" required)
                    label(for="month") / 
                    input(type="Number" name="month" placeholder="ماه" value="#{course.startDate.month}" required)
                    label(for="year") / 
                    input(type="Number" name="year" placeholder="سال" value="#{course.startDate.year}" required)
                .date-input 
                    label(for="day") پایان دوره: 
                    input(type="Number" name="endDay" placeholder="روز" value="#{course.endDate.day}" required)
                    label(for="month") / 
                    input(type="Number" name="endMonth" placeholder="ماه" value="#{course.endDate.month}" required)
                    label(for="year") / 
                    input(type="Number" name="endYear" placeholder="سال" value="#{course.endDate.year}" required)
                .text-input 
                    label(for="capacity") 
                        i.fa.fa-glass
                        | ظرفیت:
                    input(type="Number" name="capacity" placeholder="ظرفیت" value="#{course.capacity}" required)
                .text-input 
                    label(for="price") 
                        i.fa.fa-dollar 
                        | هزینه دوره(ریال):
                    input(type="Number" name="price" placeholder="هزینه دوره (ریال)" value="#{course.price}" required)
                .text-input 
                    label(for="link") 
                        i.fa.fa-link 
                        | لینک ورود:
                    input.left-align(type="text" name="link" placeholder="لینک ورود" value="#{course.link == 'undefined'? 'https://www.skyroom.online/ch/cafco/': course.link}")
                .text-input 
                    label(for="video") 
                        i.fa.fa-play
                        | ویدئو معرفی:
                    input.left-align(type="text" name="video" placeholder="ویدئو معرفی" value="#{course.video == 'undefined'? '': 'https://www.aparat.com/v/' + course.video}")
                .cover-img-edit
                    img.cover(src="#{course.cover}", alt="cover")
                    #change 
                        i.fa.fa-cloud-upload
                        | آپلود عکس جدید
    .popup-area#upload-cover-popup
        .popup
            i.fa.fa-times.close-popup
            h1.popup-title آپلود کاور
            form(action="/upload/course-cover" enctype="multipart/form-data" method="POST") 
                input.hidden(type="text" name="courseID" value="#{course._id}")
                label(for="myFile") کاور (عکس):
                .upload-area فایل خود را انتخاب کنید
                    i.fa.fa-cloud-upload
                    input.file(type="file" name="myFile")
                input.submit(type="submit" value="ثبت")

    script(src="/js/edit-course.js") 