-for(var i=0; i<courses.length && i< 6; i++){
    .popup-area(id="course-view#{i}")
        .popup
            i.fa.fa-times.close-popup
            h1.popup-title= courses[i].title
            .two-side-cont
                .part 
                    .text= courses[i].description
                    ul
                        li مدرس: #{courses[i].teacher}
                        li زمان شروع: #{courses[i].startDate.year}/#{courses[i].startDate.month}/#{courses[i].startDate.day}
                        li محدوده سنی: #{courses[i].minAge} تا #{courses[i].maxAge} سال
                        li ظرفیت: #{courses[i].capacity} نفر
                        li تعداد جلسات: #{courses[i].session}
                        li هزینه: #{courses[i].price/10} تومان
                    -if(user.role != 'admin' && courses[i].status != 'پایان یافته'){
                        a.submit(href="/dashboard/register-course?courseID=#{courses[i]._id}") 
                            i.fa.fa-check
                            | ثبت نام
                    -}
                //- .break-side 
                .part 
                    .cover-image 
                        img(src="#{courses[i].cover}", alt="cover")
                    -if(user.role == 'admin'){
                        .action
                            a.remove(href="/dashboard/remove-course?courseID=#{courses[i]._id}") 
                                i.fa.fa-trash 
                                | حذف 
                            a.edit(href="/dashboard/admin-edit-course?courseID=#{courses[i]._id}") 
                                i.fa.fa-edit
                                | ویرایش 
                            a.list(href="/dashboard/course-list?courseID=#{courses[i]._id}") 
                                i.fa.fa-list
                                | لیست 
                        .action
                            -if(courses[i].status == 'شروع نشده')
                                a.status.active(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=شروع نشده") شروع نشده 
                            -else
                                a.status(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=شروع نشده") شروع نشده 
                            -if(courses[i].status == 'در حال برگزاری')
                                a.status.active(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=در حال برگزاری") در حال برگزاری
                            -else
                                a.status(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=در حال برگزاری") در حال برگزاری 
                            -if(courses[i].status == 'پایان یافته')
                                a.status.active(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=پایان یافته") پایان یافته
                            -else
                                a.status(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=پایان یافته") پایان یافته
                            
                    -}
-}
