-for(var i=0; i<courses.length; i++){
    .popup-area(id="course-view#{i}")
        .popup
            i.fa.fa-times.close-popup
            h1.popup-title= courses[i].title
            .two-side-cont
                .part.desc 
                    .text= courses[i].description
                    ul
                        -if(courses[i].video != 'undefined'){
                            li مدرس: 
                                .course-video-btn(id="course-video-btn#{i}") #{courses[i].teacher}
                        -}else {
                            li مدرس: #{courses[i].teacher}
                        -}
                        li زمان شروع: #{courses[i].startDate.year}/#{courses[i].startDate.month}/#{courses[i].startDate.day}
                        -if(courses[i].minAge == courses[i].maxAge)
                            li پایه تحصیلی: #{educationStages[courses[i].minAge]}
                        -else
                            li پایه تحصیلی: #{educationStages[courses[i].minAge]} تا #{educationStages[courses[i].maxAge]}
                        li ظرفیت: #{courses[i].capacity} نفر 
                            -if(courses[i].students.length >= courses[i].capacity)
                                .red-inline (تکمیل شده)
                        -if(courses[i].students.length > 0)
                            li تعداد شرکت کنندگان: #{courses[i].students.length} نفر
                        li تعداد جلسات: #{courses[i].session}
                        -if(courses[i].price == 0)
                            li هزینه: رایگان
                        -else if(anarestani)
                            li هزینه: #{courses[i].price/10} تومان
                    -if(user.role != 'admin' && courses[i].status != 'پایان یافته' && courses[i].students.length < courses[i].capacity && registeredCourse.indexOf(courses[i]._id.toString()) == -1){
                        a.submit(href="/dashboard/register-course?courseID=#{courses[i]._id}") 
                            i.fa.fa-check
                            | ثبت نام
                    -}
                    -if(user.role == 'admin'){
                        .teachers 
                            -for(var j=0; j<users.length; j++){
                                -if(courses[i].teachers.indexOf(users[j]._id) != -1){
                                    .teacher= users[j].fullname
                                        a(href="/dashboard/remove-teacher-from-course?teacherID=#{users[j]._id}&courseID=#{courses[i]._id}") 
                                            i.fa.fa-trash
                                -}
                            -}
                        form.add-teacher(action="/dashboard/add-teacher-to-course" method='POST') 
                            input.hidden(type="text" name='courseID' value='#{courses[i]._id}')
                            input.hidden(type="text" name='index' value='#{i}')
                            select(name="teacherID") 
                                -for(var j=0; j<users.length; j++){
                                    -if(users[j].role == 'teacher' && courses[i].teachers.indexOf(users[j]._id) == -1){
                                        option(value="#{users[j]._id}")= users[j].fullname
                                    -}
                                -}
                            input.submit-small(type="submit" value="افزودن")
                    -}
                //- .break-side 
                .part.img-part
                    .cover-image 
                        img(src="#{courses[i].cover}", alt="cover")
                    -if(user.role == 'admin'){
                        .action
                            a.remove(href="/dashboard/remove-course?courseID=#{courses[i]._id}") 
                                i.fa.fa-trash 
                                | حذف 
                            a.edit(href="/dashboard/admin-edit-course?courseID=#{courses[i]._id}") 
                                i.fa.fa-edit
                                | ویرایش 
                            a.list(href="/dashboard/course-list?courseID=#{courses[i]._id}") 
                                i.fa.fa-list
                                | لیست 
                            -if(courses[i].link != 'undefined')
                                a.list(href="/class?link=#{courses[i].link}&courseID=#{courses[i]._id}" target='_blank') ورود
                            
                        .action
                            -if(courses[i].status == 'شروع نشده')
                                a.status.active(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=شروع نشده") شروع نشده 
                            -else
                                a.status(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=شروع نشده") شروع نشده 
                            -if(courses[i].status == 'در حال برگزاری')
                                a.status.active(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=در حال برگزاری") در حال برگزاری
                            -else
                                a.status(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=در حال برگزاری") در حال برگزاری 
                            -if(courses[i].status == 'پایان یافته')
                                a.status.active(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=پایان یافته") پایان یافته
                            -else
                                a.status(href="/dashboard/set-course-status?courseID=#{courses[i]._id}&status=پایان یافته") پایان یافته
                    -}
    -if(courses[i].video != 'undefined'){
        .course-video(id="course-video#{i}")
            i.fa.fa-times.close-video
            iframe(src="https://www.aparat.com/video/video/embed/videohash/#{courses[i].video}/vt/frame" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true")
    -}
        

-}
