extends layout

block styles
    link(rel="stylesheet", href="/css/css-circular-prog-bar.css")
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    .message-area
        -if(login){
            .success-msg
                i.fa.fa-times.close-success-msg
                ul 
                    li به پنل کاربری خود خوش آمدید
        -}
    h1.title لیست دوره ها
    .product-cards-area 
        -for(var i=0; i<courses.length; i++){
            -if(courses[i].teachers.indexOf(user._id.toString()) != -1){
                .course 
                    .cover-img 
                        img(src="#{courses[i].cover}", alt="cover")
                    .info 
                        .title= courses[i].title
                        .subtitle مدرس: #{courses[i].teacher}
                        .subtitle زمان شروع: #{courses[i].startDate.year}/#{courses[i].startDate.month}/#{courses[i].startDate.day}
                    .labels 
                        .label.green= courses[i].status
                        -if(courses[i].link && courses[i].link != 'undefined'){
                            -if(courses[i].usePanel)
                                a(href="/class/report?courseID=#{courses[i]._id}") 
                                    .label.red گزارشات
                            .label.blue
                                //- -var index = courses.map(e => e._id.toString()).indexOf(user.course[i].courseID.toString())
                                -if(courses[i].usePanel)
                                    a(href="/class?link=#{courses[i].link}&courseID=#{courses[i]._id}") ورود
                                -else
                                    a(href="#{courses[i].link}") ورود
                        -}
            -}
        -}

    include add-course
    
    include course-view
    script(src="/js/dashboard.js") 


