extends layout

block styles
    link(rel="stylesheet", href="/css/dashboard/pay.css")

block content
    .course-list
        h1.pay-title دوره های ثبت نام شده
        -if(user.course.length == 0){
            .not-found شما هیچ دوره ای ثبت نام نکرده اید. برای ثبت نام 
                a(href="/dashboard/courses") اینجا 
                | کلیک کنید.
        -}else{
            -for(var i=0; i<user.course.length; i++){
                -if(!user.course[i].payed){
                    .course 
                        .cover-img 
                            img(src="#{user.course[i].course.cover}", alt="cover")
                        .info 
                            .title= user.course[i].course.title
                            .subtitle مدرس: #{user.course[i].course.teacher}
                            .subtitle زمان شروع: #{user.course[i].course.startDate.year}/#{user.course[i].course.startDate.month}/#{user.course[i].course.startDate.day}
                            .subtitle تعداد جلسات: #{user.course[i].course.session}
                        .labels 
                            a.remove(href="/dashboard/remove-user-course-pay?courseID=#{user.course[i].courseID}&index=#{i}") 
                                i.fa.fa-trash
                        .price #{dot(user.course[i].course.price/10)} تومان
                -}
            -}
        -}
    a.add-course(href="/dashboard/courses") ثبت نام دوره جدید
    .payment-card
        .info
            .info-part.first
                .item-title تعداد دوره ها: 
                .item-value #{user.course.length}
            .info-part
                .item-title مجموع هزینه ها: 
                .item-value #{dot(priceSum)} ریال
            .info-part
                .item-title تخفیف: 
                .item-value #{dot(discount)} ریال
            .info-part
                .item-title قابل پرداخت: 
            .sum.green #{dot(priceSum - discount)} ریال
        -if(user.course.length > 0)
            a.pay(href="/payment/pay?discount=#{discount}") پرداخت
    -if(discount72){
        .discount 
            ul 
                -if(discount72)
                    li شما با ثبت نام در بیش از 72 جلسه 20 درصد تخفیف دریافت کردید.
    -}
    script(src="/js/dashboard.js") 
    script(src="/js/pay.js") 
