extends layout

block styles
    link(rel="stylesheet", href="/css/css-circular-prog-bar.css")
    link(rel="stylesheet", href="/css/dashboard/dashboard.css")

block content
    .message-area
        -if(login){
            .success-msg
                i.fa.fa-times.close-success-msg
                ul 
                    -if(anarestani)
                        li انارستانی عزیز به پنل کاربری خود خوش آمدید
                    -else
                        li به پنل کاربری خود خوش آمدید
                    
        -}
        -if(notPayedCoursesNum != 0){
            .notif-msg
                i.fa.fa-times.close-notif-msg
                ul 
                    li شما #{notPayedCoursesNum} دوره پرداخت نشده دارید. 
                    li جهت پرداخت صورت حساب خود 
                        a(href="/dashboard/pay") اینجا 
                        | را کلیک کنید.
        -}

    .graph-cards-area
        .card 
            .title دوره های گذرانده شده
            //- .number 100
            .progress-circle.p1
                span 0
                .left-half-clipper
                    .first50-bar
                    .value-bar
        .card 
            .title دوره های ثبت نام شده
            //- .number 200
            .progress-circle.p2
                span= user.course.length
                .left-half-clipper
                    .first50-bar
                    .value-bar
        .card 
            .title تعداد دوره ها
            //- .number 100
            .progress-circle.over50.p70
                span= courses.length
                .left-half-clipper
                    .first50-bar
                    .value-bar
        
    h1.title دوره های من
    .product-cards-area
        -if(user.course.length == 0){
            .not-found شما هیچ دوره ای ثبت نام نکرده اید. برای ثبت نام روی دوره مورد نظر کلیک کنید.
        -}else{
            -for(var i=0; i<user.course.length; i++){
                .course 
                    .cover-img 
                        img(src="#{user.course[i].course.cover}", alt="cover")
                    .info 
                        .title= user.course[i].course.title
                        .subtitle مدرس: #{user.course[i].course.teacher}
                        .subtitle زمان شروع: #{user.course[i].course.startDate.year}/#{user.course[i].course.startDate.month}/#{user.course[i].course.startDate.day}
                    .labels 
                        -if(!user.course[i].payed){
                            a.remove(href="/dashboard/remove-user-course?courseID=#{user.course[i].courseID}&index=#{i}") 
                                i.fa.fa-trash
                            a(href="/dashboard/pay") 
                                .label.red پرداخت
                        -}
                        .label.green= user.course[i].course.status
                        -if(user.course[i].payed && user.course[i].course.link && user.course[i].course.link != 'undefined'){
                            .label.blue
                                a(href="/class?link=#{user.course[i].course.link}&courseID=#{user.course[i].course._id}" target='_blank') ورود
                        -}
            -}
        -}

    h1.title دوره های پیشنهادی برای شما
    .product-cards-area
        -if(courses.length == 0){
            .not-found دوره ای جهت نمایش وجود ندارد
        -}else{
            -for(var i=0; i<courses.length; i++){
                .card(id="card#{i}")
                    .image 
                        img(src="#{courses[i].cover}")
                    .title= courses[i].title
                    .undertitle= courses[i].undertitle
                    .text= courses[i].description
                    .status= courses[i].status
                    -if(courses[i].students.length >= courses[i].capacity)
                        .filled ظرفیت تکمیل شده
                    -else if(courses[i].price == 0)
                        .price رایگان
                    -else{
                        -if(anarestani){
                            .discounted #{dot(courses[i].price/10)} تومان
                            .price #{dot((courses[i].price - (courses[i].price*40)/100 )/10)} تومان
                        -}else
                            .price #{dot(courses[i].price/10)} تومان
                    -}
            -}
        -}
    //- a.show-more(href="/dashboard/courses") 
    //-     i.fa.fa-chevron-left
    //-     | مشاهده بیشتر ...
    include course-view 
    
    script(src="/js/dashboard.js") 
