extends ../dashboard/layout

block styles
    link(rel="stylesheet", href="/css/class/report.css")

block content
    h1.title.center گزارش دوره #{course.title}
    
    .users-report
        -for(var i=0; i< users.length; i++){
            .dropdown-btn(id="dropdown-btn#{i}")
                .title= users[i].fullname
                i.fa.fa-chevron-down
            .dropdown-cont(id="dropdown-cont#{i}")
                table 
                    tr 
                        th جلسه
                        th تاریخ
                        th امتیاز
                        th زمان پاسخ گویی (ثانیه)
                        th میانگین
                        th بیشترین
                    -var courseIndex = users[i].course.map(e => e.courseID.toString()).indexOf(course._id.toString());
                    -if(courseIndex != -1){
                        -var answers = users[i].course[courseIndex].answer;
                        -if(answers){
                            -for(var s=1; s<=course.sessionNum; s++){
                                -var sessionAns = answers.filter(e => e.session == s)
                                tr 
                                    td جلسه #{s}
                                    -if(sessionAns.length > 1){
                                        -var date = get_year_month_day(sessionAns[0].date.toISOString())
                                        td #{date[0]}/#{date[1]}/#{date[2]}
                                        td= sessionAns.reduce((a, b) => a.score + b.score)
                                        td= Math.floor((sessionAns.reduce((a, b) => a.time + b.time))/1000)
                                        td= getAvg(users, s)
                                        td= answers.reduce((a, b) => a.possibleMax + b.possibleMax)
                                    -}else if(sessionAns.length == 1){
                                        -var date = get_year_month_day(sessionAns[0].date.toISOString())
                                        td #{date[0]}/#{date[1]}/#{date[2]}
                                        td= sessionAns[0].score
                                        td= Math.floor((sessionAns[0].time)/1000)
                                        td= getAvg(users, s)
                                        td= answers[0].possibleMax
                                    -}else {
                                        td 
                                        td 
                                        td 
                                        td 
                                        td 
                                    -}
                            -}
                            tr 
                                td .
                                td 
                                td 
                                td 
                                td 
                                td 
                            tr 
                                td مجموع
                                td 
                                td= answers.map(item => item.score).reduce((a, b) => a+b)
                                td= answers.map(item => Math.floor(item.time/1000)).reduce((a, b) => a+b)
                                td= answers.map(item => getAvg(users, item.date)).reduce((a, b) => a+b)
                                td= answers.map(item => item.possibleMax).reduce((a, b) => a+b)
                        -}
                    -}
        -}
    script(src="/js/class-report.js") 