extends ../dashboard/layout

block styles
    link(rel="stylesheet", href="/css/class/report.css")

block content
    h1.title.center گزارش دوره #{course.title}
    
    .users-report
        -for(var i=0; i< users.length; i++){
            .dropdown-btn(id="dropdown-btn#{i}")
                .title= users[i].fullname
                i.fa.fa-chevron-down
            .dropdown-cont(id="dropdown-cont#{i}")
                table 
                    tr 
                        th جلسه
                        th تاریخ
                        th امتیاز
                        th زمان پاسخ گویی (ثانیه)
                        th میانگین
                        th بیشترین
                    -var courseIndex = users[i].course.map(e => e.courseID.toString()).indexOf(course._id.toString());
                    -if(courseIndex != -1){
                        -var answers = users[i].course[courseIndex].answer;
                        -if(answers){
                            -for(var s=1; s<=course.sessionNum; s++){
                                -for(var j=0; j<answers.length; j++){
                                    -if(answers[j].session == s){
                                        -var date = get_year_month_day(answers[j].date.toISOString())
                                        tr 
                                            td جلسه #{s}
                                            td #{date[0]}/#{date[1]}/#{date[2]}
                                            td= answers[j].score
                                            td= Math.floor(answers[j].time/1000)
                                            td= getAvg(users, answers[j].date)
                                            td= answers[j].possibleMax
                                    -}
                                -}
                            -}
                            tr 
                                td .
                                td 
                                td 
                                td 
                                td 
                                td 
                            tr 
                                td مجموع
                                td 
                                td= answers.map(item => item.score).reduce((a, b) => a+b)
                                td= answers.map(item => Math.floor(item.time/1000)).reduce((a, b) => a+b)
                                td= answers.map(item => getAvg(users, item.date)).reduce((a, b) => a+b)
                                td= answers.map(item => item.possibleMax).reduce((a, b) => a+b)
                        -}
                    -}
        -}
    script(src="/js/class-report.js") 